.headerWrapper {
    padding: 1rem 0 0;
}

.topLayerContainer {
    composes: container from "../../style.css";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}
.btnSearch{
  composes: btn from "../../style.css";
  composes: btn-green from "../../style.css";
  composes: redirect-to-add from "../../style.css";
  padding: 7px 15px 7px 15px;
  text-decoration: none;
  margin-left: 1rem;
}

.imgToast{
    height:120px;
    width:250px;
}

.nav {
    composes: container from "../../style.css";
    background: #77b8cb;
    color: #09556c;
}

nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #09556c;
    padding: 0.9em 0;
}

.advWrapper {
    composes: container from "../../style.css";
    background: url("http://cdn2.hubspot.net/hubfs/1915995/bg/blue-bg.png?t=1468484873016") center repeat;
    text-align: center;
    color: #09556c;
}
.rightCorner{
    display: flex;
    margin: auto 0;
}
.rightCorner input{
    height: 40px;
    margin: 0;
}
@media screen and (min-width:850px) {
    nav {
        flex-direction: row;
        text-align: center;
    }

    nav a:not(:last-child):after {
        content: "";
        padding: 0 1rem;
    }
}
