<template name="footer">
    <div class="{{styles.footerWrapper}}">
        <div class="{{styles.row1}}">
            <div class="{{styles.order1}}"> 
             <img src="/images/JS-ED-LOGO-with-tagline-WHITE-v4.png" alt="Jobstreet Education" />
            </div>
        </div>
        <div class="{{styles.row2}}">
            <div class="{{styles.order3}}">
                Technology Meteor
            </div>
            <div class="{{styles.order4}}">
                Copyright &copy; 2017 Toast
            </div>
        </div>
    </div>
</template>