.beachBackgroundImg{
    height: 500px;
  width: 650px;
  z-index: -1;
}

.accordTitle .accordLink {
    display: inline-block;
    text-decoration: none;
    display: block;
    padding: 15px 30px;
    background: transparent;
    color: #333333;
    margin: 0 0 15px;
    color: #ff8800;
    margin-bottom: 0;
    border: 1px solid #ff8800;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    position: relative;
    border-bottom: none;
}

.accordElem {
  margin-top: 8px;
}

.accordElem.active .accordLink {
    border-bottom: none;
    color: #0a4e7e;
}

.accordContent {
    display: flex;
    padding: 0 30px;
    overflow: hidden;
    border: 1px solid #ff8800;
    border-top: none;
    min-height: 200px;
}

.accordContentBottomLine {
    display: flex;
    padding: 0px;
    overflow: hidden;
    border: 1px solid #ff8800;
    border-top: none;
    min-height: 1px;
}

.imageContainer {
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 150px;
    transition: all 0.5s;
}

.sectionHead {
    display: block;
    margin-bottom: 40px;
}

.imageOverlay {
    position:relative;
}

.imageOverlay img {
    vertical-align:top;
}

/*.imageOverlay:after, .imageOverlay:before {
    position:absolute;
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}*/

.showWarningMessage:before {
    opacity:1 !important;
    transition: all 0.5s;
}

.imageOverlay:before {
    position:absolute;
    content: attr(data-content);
    width:100%;
    color:#fff;
    z-index:1;
    bottom:0;
    padding:4px 10px;
    text-align:center;
    background:red;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    opacity: 0;
    transition: all 0.5s;
}

.weatherBackgroundImg{
  position: absolute;
  top: 22em;
  right: 39em;
  z-index: 1;
}

.btnGroup {
    z-index: 1;
}